.redBtn{
    background: #700D10;
    padding: 13px 65px;
    text-transform: uppercase;
    color: #ffffff;
    letter-spacing: 2px;
    font-size: 16px;
    font-weight: 600;
    margin-top: 30px;
    display: inline-block;
    border-radius: 22px;
}
.redBtn:hover,
.redBtn:active,
.redBtn:focus,
.redBtn:visited{
    background: #CBCBCB;
    color: #3a3a3a;
}
.ghost-btn{
    background: transparent;
    padding: 11px 65px;
    border: solid 1px #700D10;
    text-transform: uppercase;
    color: #700D10;
    letter-spacing: 2px;
    font-size: 13px;
    font-weight: 600;
    margin-top: 40px;
    display: inline-block;
}
.ghost-btn:hover,
.ghost-btn:active,
.ghost-btn:focus,
.ghost-btn:visited{
    background: transparent;
    color: #3a3a3a;
    border: solid 1px #3a3a3a;
}
.form-control-custom:focus,
.form-control-custom:hover,
.form-control-custom:active,
.form-control-custom:visited{
    outline: none;
}
form.common-form{
    float: none;
    margin: auto;
    max-width: 400px;
    margin-top: 70px;
}
.form-group{
    padding-bottom: 18px;
    margin-bottom: 20px;
    position: relative;
}
.form-group label{
    font-size: 13px;
    letter-spacing: 2px;
    color: #700D10;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 12px;
}
.form-control{
    margin:0;
}
.form-control-custom{
    width: 100%;
    background: #ffffff;
    padding: 12px 15px;
    border: none;
    font-size: 18px;
    color: #4a4a4a;
    box-shadow: none;
}
.full-name-input{
    text-transform: capitalize;
}
textarea.form-control-custom{
    resize: none;
    height: 320px;
}
.errorText{
    position: absolute;
    bottom:0;
    left: 0;
    margin: 0;
    padding: 0;
    font-size: 10px;
    color: #ab1a1e;
    width: 100%;
    text-align: left;
    display: none;
}
.errorField .errorText{
    display: block;
}
.charLimit{
    display: block;
    text-align: right;
}
.formFileWrapper{
    margin-top: 40px;
}
.formFileWrapper .errorText{
    text-align: center;
}
.uploadFileName{
    position: absolute;
    bottom:0;
    left: 0;
    margin: 0;
    padding: 0;
    font-size: 10px;
    color: #ab1a1e;
    width: 100%;
    text-align: center;
    display: none;
}
.fileUploaded .uploadFileName{
    display: block;
}
.no-file{
    font-size: 17px;
    color: #4a4a4a;
    line-height: 30px;
    font-weight: 400;
    letter-spacing: 0.5px;
}
.fileBtnView{
    display: inline-block;
    position: relative;
    overflow: hidden;
}
.fileBtnView .uploadBtn{
    background: #E6E6E6;
    padding: 8px 50px;
    color: #4a4a4a;
    letter-spacing: 1px;
    font-size: 16px;
    font-family: arial;
    display: inline-block;
    border-radius: 12px;
    position: relative;
    margin: 0;
    z-index: 1;
}
.fileBtnCustom{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    z-index: 2;
}
.formBtn{
    width: 100%;
    margin-top: 20px;
}
.bulletList li {
    font-size: 17px;
    color: #4a4a4a;
    line-height: 30px;
    font-weight: 400;
    letter-spacing: 0.5px;
    padding-left: 17px;
    position: relative;
}
.bulletList li:before {
    content:'';
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 5px;
    background: #4a4a4a;
    left: 0;
    top: 12px;
}
.navbar{
    background: rgba(236, 235, 232, 0.9);
    border:none;
}
.navbar-brand img{
    width: 100px;
}
.navbar-default .navbar-nav > li{
    padding:0 20px;
}
.navbar-default .navbar-nav > li > a{
    font-size: 14px;
    color: #4a4a4a;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    font-weight: 600;
    padding:25px 0;
    position: relative;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus{
    background-color: transparent;
    color: #4a4a4a;
}
.navbar-default .navbar-nav > li.active > a:after{
    content: '';
    position: absolute;
    width:100%;
    height:1px;
    background: #4a4a4a;
    left: 0;
    top: 45px;
}


.bannerWrapper{
    overflow: hidden;
    position: relative;
    text-align: center;
    height: 400px;
    background-size: 100%;
}
/*.bannerWrapper:after{
    content: '';
    position: absolute;
    background: rgba(0,0,0,0.4);
    width:100%;
    height: 100%;
    top: 0;
    left:0;
    z-index: 1;
}*/
.bannerWrapper--home{
    background: transparent url('../images/banner/home-banner.jpeg') no-repeat;
    height: 550px;
    background-size: cover;
    background-position: center;
}
.bannerWrapper--about{
    background: transparent url('../images/banner/about.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}
.bannerWrapper--career{
    background: transparent url('../images/banner/careers.jpeg') no-repeat;
    background-size: cover;
    background-position: center;
}
.bannerWrapper--contact{
    background: transparent url('../images/banner/contact.jpeg') no-repeat;
    background-size: cover;
    background-position: center;
}
.bannerContent{
    position: relative;
    z-index: 2;
}
.bannerText{
    width: 40%;
    color: #ffffff;
    position: relative;
    z-index: 2;
    float: none;
    display: inline-block;
    margin: auto;
}
.bannerText--btm{
    position: absolute;
    bottom: 80px;
    left: 0;
    right:0;
    margin: auto;
}
.bannerText p{
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 30px;
}
.bannerText a{
    font-size: 14px;
    letter-spacing: 0.6px;
    color: #ffffff;
}


.section{
    padding-top: 80px;
    padding-bottom: 80px;
    overflow: hidden;
}
.gray-bg{
    background: #F9F8F6;
}
.white-bg{
    background: #ffffff;
}
.heading1{
    font-size: 22px;
    position: relative;
    text-transform: uppercase;
    color: #3a3a3a;
    letter-spacing: 4px;
    padding: 0 80px 30px 80px;
    margin-bottom: 30px;
}
.heading1:after{
    content: '';
    position: absolute;
    height: 1px;
    background: #700D10;
    width:100%;
    max-width: 370px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.heading2{
    font-size: 22px;
    color: #323232;
    font-style: italic;
    margin-bottom: 40px;
}
.heading3{
    color: #700D10;
    display: block;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin-top: 30px;
    margin-bottom: 15px;
}
.heading4{
    position: relative;
    padding-bottom: 1px;
    margin-bottom: 45px;
}
.heading4 .heading1{
    padding-bottom: 5px;
}
.heading4 .heading1:after{
    display: none;
}
.heading4 .heading2{
    margin-top: 30px;
}
.heading4:after{
    content: '';
    position: absolute;
    height: 1px;
    background: #700D10;
    max-width: 230px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.paraText {
    font-size: 17px;
    color: #4a4a4a;
    line-height: 30px;
    font-weight: 400;
    letter-spacing: 0.5px;
}
.paraText2 {
    font-size: 20px;
    color: #4a4a4a;
    line-height: 30px;
    font-weight: 400;
    letter-spacing: 0.5px;
}

.expertiseWrapper .paraText{
    padding-left: 22%;
    padding-right: 22%;
    display: inline-block;
    margin: auto;
}
.expertiseList{
    margin-top: 70px;
}
.expertiseList img{
    width: 80px;
}
.expertiseList li{
    display: inline-block;
    margin-right: 100px;
}
.expertiseList li:last-child{
    margin-right: 0;
}
.expertiseList li a{
    display: inline-block;
}
.expertiseList span{
    color: #700D10;
    display: block;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 30px;
}

.servicesList{
    margin-top: 20px;
}
.servicesList li{
    display: inline-block;
    padding: 0 25px;
    width: 33%;
    margin-top: 50px;
    vertical-align: top;
}
.servicesList a{
    color: #700D10;
    display: block;
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 2px;
    padding:0 40px;
    text-transform: uppercase;
    height: 50px;
    overflow: hidden;
}
.servicesList p{
    color: #4a4a4a;
    display: block;
    font-size: 14px;
    letter-spacing: 1px;
}

.approachWrapper{
    background: transparent url('../images/banner/approach.jpg') no-repeat;
    background-size: 100%;
    position: relative;
}
.approachWrapper:after{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background: rgba(255,255,255,0.7);
    z-index: 1;
}
.approachWrapper .container{
    position: relative;
    z-index: 2;
}
.approachWrapper .paraText{
    width: 70%;
    display: inline-block;
    margin: auto;
    margin-top: 30px;
}

.effectiveModelWrapper .paraText{
    padding-left: 15%;
    padding-right: 15%;
    margin: auto;
    margin-top: 30px;
}

.footerHeading{
    font-size: 22px;
    color: #ffffff;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 15px;
}
.footerDesc{
    font-size: 21px;
    color: #ffffff;
    font-style: italic;
    font-weight: 400;
}
.footerHalf{
    padding: 50px 0;
    height: 282px;
    border: solid 2.5px #ffffff;
    border-bottom-width: 5px;
    border-top-width: 5px;
}
.connectFooter{
    background: #000000;
    border-left:none;
}
.joinFooter{
    background: #700D10;
    border-right:none;
}
.joinFooter .footerHeading,
.joinFooter .footerDesc{
    color: #ffffff;
}
.footerBtn {
    background: #CBCBCB;
    padding: 13px 65px;
    text-transform: uppercase;
    color: #3a3a3a;
    letter-spacing: 2px;
    font-size: 16px;
    font-weight: 600;
    margin-top: 40px;
    display: inline-block;
    border-radius: 22px;
}
.footerSocial{
    display: inline-block;
    width: 50px;
    background: #CCCCCC;
    border-radius: 25px;
    padding: 10px;
    margin: 38px 10px 0 15px;
}
.footerCopyright{
    background: #F9F8F6;
    padding: 28px;
    color: #3a3a3a;
    font-size: 17px;
}


.commitmentList{
    margin-top: 30px;
}
.commitmentList li{
    display: inline-block;
    margin-right: 100px;
}
.commitmentList li:last-child{
    margin-right: 0;
}
.commitmentList span{
    color: #700D10;
    display: block;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 30px;
    font-weight: 600;
}

.visionWrapper .paraText{
    padding-left: 15%;
    padding-right: 15%;
    margin: auto;
    margin-top: 30px;
}


.engagementWrapper .paraText{
    padding-left: 18%;
    padding-right: 18%;
    margin: auto;
    margin-top: 30px;
}


.eng-gray-block{
    background: #B3B3B3;
    height: 460px;
    margin-left: 13%;
    margin-right: 13%;
    margin-top: 35px;
}
.engagementList li{
    display: block;
    margin-top: 90px;
}
.engagementList img{
    max-width: 400px;
}
.engagementList p{
    width: 50%;
    margin: auto;
    margin-top: 20px;
}
.engagementList .paraText{
    padding: 0;
}


.aboutWrapper .paraText{
    padding-left: 15%;
    padding-right: 15%;
    margin: auto;
    margin-top: 30px;
}

.quoteWrapper{
    background: transparent url('../images/banner/approach.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    padding: 50px 0;
    position: relative;
}
.quoteWrapper .paraText{
    width: 55%;
    font-size: 20px;
    font-style: italic;
    margin: auto;
    margin-bottom: 40px;
    color: #ffffff;
    font-weight: 400;
    letter-spacing: 1px;
}
.quoteAuthor{
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 2px;
}
.quoteAuthorDesc{
    font-style: italic;
    font-weight: 300;
}
.quoteWrapper:after{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background: rgba(0,0,0,0.7);
    z-index: 1;
}
.quoteWrapper .container{
    position: relative;
    z-index: 2;
}
.servicesWrapper .paraText{
    padding-left: 18%;
    padding-right: 18%;
    display: inline-block;
    margin: auto;
    margin-top: 30px;
}
.servicesWrapper .heading2{
    margin-bottom: 15px;
}



.expertiseWrapper2 .paraText{
    padding-left: 22%;
    padding-right: 22%;
    display: inline-block;
    margin: auto;
}
.expertiseList2 img{
    width: 80px;
}
.expertiseList2 li{
    display: inline-block;
    margin-top: 50px;
}
.expertiseList2 li:first-child{
    margin-top: 20px;
}
.expertiseList2 span{
    color: #700D10;
    display: block;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 15px;
}


.serviceDescWrapper .paraText2{
    padding-left: 18%;
    padding-right: 18%;
    margin-top: 30px;
    font-style: italic;
}
.serviceDescWrapper .paraText2:first-child{
    margin-top: 0;
}


.servicesList2{
    margin-top: 20px;
}
.servicesList2 li{
    display: inline-block;
    padding: 0 10px;
    margin-top: 50px;
    max-width: 20%;
    vertical-align: top;
}
.servicesList2 a{
    color: #700D10;
    display: block;
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 2px;
    padding:0;
    text-align: center;
    text-transform: uppercase;
    height: 50px;
    overflow: hidden;
}


.serviceIncludeWrapper{
    background: transparent url('../images/banner/service-include.jpg') no-repeat;
    background-size: 100%;
    position: relative;
}
.serviceIncludeWrapper:after{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background: rgba(250, 249, 247, 0.9);
    z-index: 1;
}
.serviceIncludeWrapper .container{
    position: relative;
    z-index: 2;
}
.serviceIncludeWrapper .paraText{
    width: 70%;
    display: inline-block;
    margin: auto;
    margin-top: 30px;
}


.serviceCommonWrapper .paraText{
    padding-left: 18%;
    padding-right: 18%;
}



.servicesList3{
    margin-top: 20px;
}
.servicesList3 li{
    display: inline-block;
    padding: 0 30px;
    margin-top: 50px;
    max-width: 25%;
    vertical-align: top;
}
.servicesList3 a{
    color: #700D10;
    display: block;
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 2px;
    padding:0;
    text-align: center;
    text-transform: uppercase;
    height: 50px;
    overflow: hidden;
}
.descListContainer{
    margin-bottom: 80px;
}
.descListContainer--last{
    margin-bottom: 0;
}
.manageCapWrapper .paraText{
    padding-left: 12%;
    padding-right: 12%;
    display: inline-block;
    margin: auto;
    margin-top: 30px;
}
.manageCapWrapper .heading2{
    margin-bottom: 15px;
}
.redText{
    color: #700D10;
}
.boldText{
    font-weight: 600;
}



.careerBlockWrapper .paraText{
    padding-left: 20%;
    padding-right: 20%;
    display: inline-block;
    margin: auto;
    margin-top: 30px;
}




.vacanciesWrapper{
    padding-bottom: 5px;
}
.vacanciesList{
    margin-top: 40px;
}
.vacanciesListItem{
    background: #E7E6E5;
    padding-top: 40px;
    padding-bottom: 40px;
    border:solid 3px #F9F8F6;
}
.vacanciesListItem .heading1{
    margin-bottom: 25px;
}
.vacanciesListDetails{
    max-width: 370px;
    display: inline-block;
}
.vacancyDet-header{
    margin-bottom: 20px;
}
.vacancyDet-header p{
    display: inline-block;
    text-transform: uppercase;
    font-size: 14px;
    color: #4a4a4a;
    letter-spacing: 2px;
    font-weight: 600;
}
.vacancyDet-header p:first-child{
    margin-right: 50px;
}
.vacancyDet-header img{
    width: 24px;
    vertical-align: top;
    margin-top: 2px;
}
.vacanciesListItem .applyBtn{
    background: #CBCBCB;
    padding: 13px 65px;
    text-transform: uppercase;
    color: #3a3a3a;
    letter-spacing: 2px;
    font-size: 16px;
    font-weight: 600;
    margin-top: 30px;
    display: inline-block;
    border-radius: 22px;
}
.vacanciesListItem:hover{
    background: #cccccc;
}
.vacanciesListItem:hover .applyBtn{
    background: #700D10;
    color: #ffffff;
}



.noVacancyWrapper .redBtn{
    margin-top: 30px;
}
.noVacancyWrapper .heading1{
    margin-bottom: 40px;
}



.careerBack{
    text-transform: uppercase;
    font-size: 13px;
    color: #4a4a4a;
    letter-spacing: 2px;
    margin-bottom: 50px;
    display: inline-block;
    font-weight: 600;
}



.jobDescriptionWrapper .bulletList{
    padding-left: 18%;
    padding-right: 18%;
    text-align: left;
    margin-top: 40px;
}


.full-address{
    max-width: 250px;
    display: inline-block;
}
.contact-address{
    margin-top: 30px;
}
.contactAddressTitle{
    display: inline-block;
    text-transform: uppercase;
    font-size: 14px;
    color: #4a4a4a;
    letter-spacing: 2px;
    font-weight: 600;
    margin-bottom: 25px;
}
.contactAddressTitle img{
    width: 24px;
    vertical-align: top;
    margin-top: 2px;
}


.home-carousel {
    padding: 0 100px;
}
.home-carousel .item img{
    max-width: 300px;
    margin: auto;
}
.carousel-caption {
    font-size: 17px;
    color: #4a4a4a;
    line-height: 30px;
    font-weight: 400;
    letter-spacing: 0.5px;
    text-shadow: none;
    position: relative;
    right: auto;
    left: auto;
    bottom: auto;
    margin-top: 40px;
    padding: 0 20%;
}
.carousel-caption:before,
.carousel-caption:after{
    content:'"';
    position: absolute;
    font-size: 30px;
    color: #700D10;
}
.carousel-caption:before{
    left: 20%;
    top: -10px;
    margin-left: -40px;
}
.carousel-caption:after{
    right: 20%;
    bottom: -10px;
    margin-right: -40px;
}
.carousel-control{
    border: solid 35px transparent;
    background-image: none;
    height: 0;
    width: auto;
    margin: auto;
}
.carousel-control:after{
    content: '';
    position: absolute;
    border: solid 35px transparent;
    background-image: none;
    height: 0;
}
.carousel-control.left{
    border-right: solid 35px #9c9c9c;
}
.carousel-control.right{
    border-left: solid 35px #9c9c9c;
}
.carousel-control.left:after {
    border-right: solid 35px #ffffff;
    right: -38px;
    top: -35px;
    z-index: 1;
}
.carousel-control.right:after {
    border-left: solid 35px #ffffff;
    left: -38px;
    top: -35px;
    z-index: 1;
}
